/* --------------- Services Section Start -----------------*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");
.contenedor-servicios {
  justify-content: center;
  gap: 20px;
}

.contenedor-servicios .serviceBox {
  position: relative;
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #51446e;
  overflow: hidden;
}

.contenedor-servicios .serviceBox .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-delay: 0.25s;
}

.contenedor-servicios .serviceBox:hover .icon {
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-delay: 0s;
}

.contenedor-servicios .serviceBox .icon ion-icon {
  font-size: 5rem;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.contenedor-servicios .serviceBox:hover .icon ion-icon {
  font-size: 2rem;
  transition-delay: 0s;
}

.contenedor-servicios .serviceBox .content {
  position: relative;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.contenedor-servicios .serviceBox:hover .content {
  transform: scale(1);
  transition-delay: 0.25s;
}

.contenedor-servicios .serviceBox .content h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.contenedor-servicios .serviceBox .content p {
  font-weight: 300;
  line-height: 1.5em;
}

/* --------------- Contact Section -----------------*/
.area-contacto {
  display: flex;
  margin: 10px 20px;
}

.info-contacto {
  display: grid;
  width: 40%;
}

input {
  margin-bottom: 20px;
  width: 70%;
  height: 40px;
  border-radius: 5px;
}

.mensaje {
  margin: 10px 20px;
  width: 60%;
}

textarea {
  width: 100%;
  height: 160px;
  border-radius: 5px;
}

.col-sm-6 {
  width: 100% !important;
}

/* ================== Efecto Hover Start =============== */
.tarjeta__father:hover .tarjeta {
  transform: rotateY(180deg);
}

.tarjeta {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 1.25rem !important;
  border: 0.25px solid #020202;
}

.tarjeta__front {
  background-size: cover;
  background-position: center;
}

.tarjeta__front,
.tarjeta__back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.tarjeta__back {
  transform: rotateY(180deg);
  background: white;
}

.body__tarjeta_front {
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.body__tarjeta_back {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}

.body__tarjeta_back p {
  margin-top: 30px;
  font-size: 18px;
}

.body__tarjeta_back input {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.body__tarjeta_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6;
}

/* ================== Efecto Hover End =============== */
/* --------------- Home Section -----------------*/
.section-title {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section-title {
  justify-content: center;
}

.section-title {
  align-items: center;
}

.img-fluid {
  width: 80%;
}

.about-img {
  margin-left: -100px;
  right: -60px;
  display: flex;
  justify-content: center;
}

.display-1 {
  font-size: 160px;
  font-weight: 1000;
}

.position-absolute {
  font-weight: 700;
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue {
  background-color: #1c5ce6;
  color: #ffffff;
}

.btn {
  border: 2px solid #1d69f7;
}

.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0d6efd !important;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: -15px;
  background-color: #0d6efd;
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: #0d6efd;
  left: -20px;
  top: 16px;
  border-radius: 50%;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.error404 {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.container-error {
  text-align: center;
  color: white;
}
.container-error h2 {
  font-size: 60px;
}
.container-error p {
  font-size: 18px;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}

/* ------------- Skills Section ------------ */
.skills {
  display: flex;
  justify-content: center;
}

.caja {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.circulo {
  background-color: #ffffff;
  z-index: 1;
  border-radius: 50%;
  height: 135px;
  width: 140px;
}

.box-logo {
  position: relative;
  margin: 0 30px;
  top: 30px;
}

.box-logo svg {
  overflow: visible;
  width: 5rem;
}

.titulo-grande {
  font-size: 140px;
  font-weight: 1000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}

a {
  color: #0bceaf;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: #020202 !important;
}

.skills p {
  font-weight: bold;
}

/* -------- Estilo Titulos -------- */
.title {
  background: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.color-white {
  color: #fff;
}

/* Mapas */
.body__tarjeta_front {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tarjeta__front,
.tarjeta__back {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cuadro.service1 .cuadro-stats {
  background: #0d6efd;
}

.cuadro.service2 .cuadro-stats {
  background: #6610f2;
}

.cuadro.service3 .cuadro-stats {
  background: #6f42c1;
}

/* ---------------- Media Query -------------*/
@media (min-width: 400px) and (max-width: 499px) {
  .titulo-grande {
    font-size: 40px;
    font-weight: 1000;
  }
}
@media (min-width: 500px) and (max-width: 640px) {
  .titulo-grande {
    font-size: 55px;
    font-weight: 1000;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .titulo-grande {
    font-size: 70px;
    font-weight: 1000;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .titulo-grande {
    font-size: 93px;
    font-weight: 1000;
  }
}
@media (min-width: 992px) and (max-width: 1115px) {
  .titulo-grande {
    font-size: 125px;
    font-weight: 1000;
  }
}
@media (min-width: 400px) and (max-width: 991px) {
  .caja {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 150px);
    align-items: start;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 365px) and (max-width: 640px) {
  .body__tarjeta_back p {
    margin-top: 0px;
    font-size: 17px;
  }
}
@media (max-width: 700px) {
  .about-img {
    margin-left: 20px;
    right: 0px;
    top: 30px;
  }
}
@media (max-width: 767px) {
  .tarjeta__father {
    display: flex;
    justify-content: center;
  }

  .cuadro {
    grid-template-columns: 402px;
    width: 78%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tarjeta {
    width: 320px;
    height: 350px;
  }

  .body__tarjeta_front {
    width: 100%;
  }

  .cuadro {
    width: 100%;
    grid-template-columns: 216px;
    grid-template-rows: 0px 185px 20px;
  }

  .body__tarjeta_back p {
    margin-top: 0px;
    font-size: 17px;
  }
}
@media (min-width: 992px) and (max-width: 1115px) {
  .tarjeta {
    width: 280px;
    height: 350px;
  }

  .body__tarjeta_front h1 {
    font-size: calc(0.75rem + 1.5vw);
  }

  .body__tarjeta_back {
    padding: 15px;
  }

  .cuadro {
    grid-template-columns: 252px;
    grid-template-rows: 0px 185px 20px;
  }

  .body__tarjeta_back p {
    margin-top: 20px;
    font-size: 17px;
  }
}
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.section-title {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section-title {
  justify-content: center;
}

.section-title {
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
