/* --------------- Home Section -----------------*/
@import '../base/extends';

.section-title {
  @extend %d-flex;
  @extend %just-cont-cen;
  @extend %align-items-center;
}

.img-fluid {
  width: 80%;
}
.about-img {
  margin-left: -100px;
  right: -60px;
  display: flex;
  justify-content: center;
}
.display-1 {
  font-size: 160px;
  font-weight: 1000;
}
.position-absolute {
  font-weight: 700;
}
.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}
.blue {
  background-color: #1c5ce6;
  color: #ffffff;
}
.btn {
  border: 2px solid rgb(29, 105, 247);
}
.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}
.dropdown-toggle::after {
  display: none !important;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #0d6efd !important; 
}
.timeline{
  position: relative;
}
.timeline::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: -15px;
  background-color: #0d6efd;
}
.timeline-item{
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}
.timeline-item::before{
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: #0d6efd;
  left: -20px;
  top: 16px;
  border-radius: 50%;
}
.timeline-item:last-child{
  margin-bottom: 0;
}