/* --------------- Services Section Start -----------------*/

.cuadro {
  display: grid;
  grid-template-columns: 303px;
  grid-template-rows: 0px 165px 20px;
  grid-template-areas: "image" "text" "stats";
  width: 85%;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
}
.cuadro-text {
  grid-area: text;
  margin: 25px;
}
.cuadro-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.cuadro-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.cuadro-text h2 {
  margin-top:0px;
  font-size:28px;
}
.cuadro-stats {
  grid-area: stats; 
  display: grid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.cuadro-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}
.cuadro-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.cuadro-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.cuadro-stats .value sup {
  font-size: 12px;
}
.cuadro:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}