/* --------------- Services Section Start -----------------*/

.contenedor-servicios {
  justify-content: center;
  gap: 20px;
}
.contenedor-servicios .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #51446e;
  overflow: hidden;
}
.contenedor-servicios .serviceBox .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-delay: 0.25s;
}
.contenedor-servicios .serviceBox:hover .icon {
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-delay: 0s;
}
.contenedor-servicios .serviceBox .icon ion-icon {
  font-size: 5rem;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.contenedor-servicios .serviceBox:hover .icon ion-icon {
  font-size: 2rem;
  transition-delay: 0s;
}
.contenedor-servicios .serviceBox .content {
  position: relative;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}
.contenedor-servicios .serviceBox:hover .content {
  transform: scale(1);
  transition-delay: 0.25s;
}
.contenedor-servicios .serviceBox .content h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.contenedor-servicios .serviceBox .content p {
  font-weight: 300;
  line-height: 1.5em;
}