
%d-flex {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

%just-cont-cen {
    justify-content: center;
}

%just-cont-end {
    justify-content: end;
}

%align-items-center {
    align-items: center;
}